*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.main-content {
  position: relative;
  background-color: #fff; }

.sidebar {
  position: relative;
  margin-top: 20px; }

.main-catalog,
.second-catalog {
  background-color: #dd6b35;
  border: 1px solid #ccc;
  border-radius: 5px; }
  .main-catalog h2,
  .second-catalog h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    color: #000;
    margin: 0;
    padding: 10px 0;
    -webkit-box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2); }
  .main-catalog ul,
  .second-catalog ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .main-catalog li,
  .second-catalog li {
    display: block;
    padding: 10px 5px; }
    .main-catalog li:hover,
    .second-catalog li:hover {
      background-color: #fff;
      border-radius: 4px;
      -webkit-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
  .main-catalog a,
  .second-catalog a {
    color: #000;
    font-family: "RobotoCondensedRegular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 50px;
    display: block; }
    .main-catalog a:hover,
    .second-catalog a:hover {
      color: #000;
      text-decoration: none; }
  .main-catalog img,
  .second-catalog img {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 15px; }

.active-catalog {
  color: #000;
  text-decoration: none;
  background-color: #FFF;
  border-radius: 4px; }

.second-catalog {
  background-color: #F9C044;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  margin-top: 20px; }

.third-catalog,
.fourth-catalog {
  margin-top: 20px; }

.carusel {
  margin-top: 20px;
  width: 100%;
  border: 2px solid #fff;
  border-radius: 10px; }

.carusel_item {
  position: relative; }
  .carusel_item img {
    border-radius: 10px;
    width: 100%;
    height: 400px; }

.content_information {
  text-align: center;
  color: #000;
  font-family: "RobotoRegular"; }
  .content_information h2 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 10px 0 15px 0;
    padding: 0; }
  .content_information p {
    font-size: 22px;
    margin: 0 0 15px 0;
    padding: 0; }

.second_content_information {
  text-align: center; }

.circle,
.square {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #ccc;
  margin: 0 auto; }
  .circle img,
  .square img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-top: 40px; }

.square {
  border-radius: 5px;
  background-color: #ccc; }

.content_item {
  text-align: center;
  margin-top: 25px; }
  .content_item h2 {
    margin: 15px 0 15px 0;
    padding: 0; }
  .content_item p {
    margin: 0 0 15px 0;
    padding: 0; }

.second_content_information h2 {
  text-transform: uppercase; }

.content_time_work {
  background-image: url("../img/rabota.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; }
  .content_time_work h2 {
    text-transform: uppercase; }
  .content_time_work strong {
    font-size: 20px;
    margin-right: 5px; }
  .content_time_work b {
    color: #F9C044; }
  .content_time_work span {
    text-transform: uppercase;
    color: #F9C044;
    font-size: 20px;
    font-family: "RobotoBold";
    margin-bottom: 30px; }
  .content_time_work h3 {
    font-size: 26px;
    font-family: "RobotoCondensedBold";
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff !important; }

.time_text {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
  font-family: "RobotoLight", sans-serif;
  margin-top: 20px; }

.what_we_buy {
  text-align: left; }
  .what_we_buy h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px; }
  .what_we_buy p {
    text-align: left; }

.bottom_carusel_description h2 {
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0; }

.bottom_carusel {
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 10px; }
  .bottom_carusel .slick-prev {
    left: 10px; }
  .bottom_carusel .slick-next {
    right: 40px; }
  .bottom_carusel img {
    border-radius: 10px;
    width: 100%;
    height: 300px; }
  .bottom_carusel .carusel_img {
    height: 300px; }
  .bottom_carusel .carusel_item {
    margin: 0 5px; }

.main-footer {
  background-color: #373742;
  margin-top: 5px;
  font-family: "RobotoCondensedBold", sans-serif; }
  .main-footer h3 {
    margin: 20px 0 10px 0;
    padding: 0;
    color: #DD6B35; }
  .main-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .main-footer li {
    padding: 2px 0; }
  .main-footer a {
    color: #fff; }
    .main-footer a:hover {
      color: #fff; }

.footer_nav {
  margin-bottom: 30px; }

.viber {
  background-image: url("../img/viber-icon.png");
  background-repeat: no-repeat;
  line-height: 40px; }

.footer_copy {
  font-size: 13px;
  color: #fff;
  margin: 10px 0; }

.footer_adr {
  color: #fff; }
  .footer_adr p, .footer_adr li {
    font-size: 20px; }
  .footer_adr img {
    width: 30px;
    height: 30px;
    margin-right: 10px; }
  .footer_adr p {
    margin: 10px 0 5px 0;
    padding: 0; }
  .footer_adr a {
    color: #fff; }
    .footer_adr a:hover {
      text-decoration: none;
      color: #fff;
      cursor: pointer; }

.active-footer a {
  color: #DD6B35; }

.details_content {
  text-align: center; }
  .details_content h2 {
    font-size: 2em;
    margin: 20px 0;
    padding: 0;
    text-transform: uppercase;
    color: #000;
    -webkit-box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2); }

.details_content_description h2, .details_content_description h3 {
  text-align: center; }

.details_content_description p {
  color: #000;
  font-family: "RobotoCondensedLight", sans-serif;
  font-size: 24px;
  text-align: center; }

.details_content_description a {
  color: #000; }
  .details_content_description a:hover {
    color: #DD6B35; }

.details_content_description .main_button_wrap {
  margin-top: 40px; }

.price_details {
  text-align: center; }
  .price_details h3 {
    margin: 20px 0;
    padding: 0; }

.price_button_wrap {
  text-align: center;
  margin-bottom: 34px; }
  .price_button_wrap a {
    color: #fff;
    text-transform: uppercase; }

.price_button {
  padding: 10px 30px;
  background-color: #dd6b35;
  border-radius: 5px;
  font-size: 16px; }
  .price_button:hover {
    background-color: #dd6b20;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #000;
    text-decoration: none;
    font-family: "RobotoBold"; }

.issue_price p {
  font-size: 18px;
  color: #000;
  font-family: "RobotoCondensedLight"; }

.item_catalog {
  margin-top: 20px;
  text-align: center; }
  .item_catalog img {
    max-width: 100%;
    border-top: 8px solid #AC160A;
    height: 200px; }
  .item_catalog p {
    color: #050505;
    font-size: 14px;
    font-family: "RobotoRegular",sans-serif;
    margin-bottom: 30px; }

#content_time_work {
  background-image: url("../img/rabota.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; }
  #content_time_work h2 {
    text-transform: uppercase; }
  #content_time_work strong {
    font-size: 20px;
    margin-right: 5px; }
  #content_time_work b {
    color: #F9C044; }
  #content_time_work span {
    text-transform: uppercase;
    color: #F9C044;
    font-size: 20px;
    font-family: "RobotoBold";
    margin-bottom: 30px; }
  #content_time_work h3 {
    font-size: 26px;
    font-family: "RobotoCondensedBold";
    margin: 0 0 10px 0;
    padding: 0; }
  #content_time_work .time_text {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    font-family: "RobotoLight", sans-serif;
    margin-top: 20px; }

.fancybox-caption-wrap {
  text-align: center; }

.description_section h2 {
  text-align: center;
  -webkit-box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2); }

#kurs-com-ua-informer-main-ukraine-249x130-orange-container {
  margin-bottom: 20px; }

.contacts_content {
  margin-bottom: 30px;
  color: #000; }
  .contacts_content h2 {
    font-family: "RobotoCondensedBold";
    text-align: left;
    text-transform: uppercase; }
  .contacts_content ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .contacts_content img {
    margin-right: 15px; }
  .contacts_content li {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "RobotoCondensedBold", sans-serif; }
  .contacts_content p {
    font-size: 20px;
    margin: 0;
    padding: 5px 0 0 55px;
    font-family: "RobotoCondensedLight"; }
  .contacts_content a {
    color: #000; }
    .contacts_content a:hover {
      color: #000;
      text-decoration: none; }
  .contacts_content span {
    color: #DD6B35;
    font-family: "RobotoCondensedRegular", sans-serif; }

.map_situated {
  margin-bottom: 30px; }

.birzha_content h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoCondensedRegular"; }

.birzha_content span {
  color: #DD6B35; }

.birzha_price {
  text-align: center;
  margin-bottom: 20px; }
  .birzha_price img {
    max-width: 100%; }

.optom_content {
  text-align: center; }

.museum_description p,
.recommended_description p,
.about_post_description p,
.answer_the_question p,
.bad_equipment_description p,
.attention_indicators p,
.catalyst_description p,
.pechatka p,
.color_metals p {
  text-align: center;
  font-family: "RobotoCondensedRegular";
  font-size: 20px;
  margin: 10px 0;
  padding: 0; }

.weight_content img {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
  margin-bottom: 30px; }

.post_check img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0; }

.bottom_p {
  margin-left: 35px; }

.recommended_pt ul,
.about_post ul,
.answer ul,
.weight_content ul,
.post_check ul {
  list-style-image: url("../img/arrow.png"); }

.recommended_pt li,
.about_post li,
.answer li,
.weight_content li,
.post_check li {
  margin: 5px 0;
  font-size: 18px;
  font-family: "RobotoCondensedRegular"; }

.bottom_p {
  text-align: center; }

.answer p {
  padding: 0;
  margin: 5px 0 10px 0;
  text-align: left; }

.answer a {
  color: #DD6B35; }
  .answer a:hover {
    color: #000; }

.indicators_description ul {
  list-style-image: none; }

.indicators_description li b {
  margin-left: 15px; }

.attention_indicators {
  margin-bottom: 30px; }
  .attention_indicators h2 {
    color: #DF1B23;
    margin: 10px 0;
    padding: 0; }
  .attention_indicators p {
    text-align: left; }

.color_metals p {
  margin-bottom: 30px; }
